.head-prod-add {
  height: 70px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
}

.add-label {
  margin: 17px auto 17px;
}

.add-h {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: auto;
  margin-left: auto;
}

.table-add {
  margin: 18px auto 0;
}

.add-btn {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 1px;
  height: 48px;
  transition-duration: 0.3s;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}

.add-btn:hover {
  background: #4b4a4a;
  border: 2px solid #4b4a4a;
  box-sizing: border-box;
}

.save-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.input-name {
  width: 808px;
}

.photo {
  width: 193px;
  height: 240px;
}

.material-field {
  width: 822px;
}

.input-description {
  width: 822px;
}

.description {
  height: 300px;
}

.size-amount {
  float: right;
}

.datetime {
  background: #f8f8f8;
  font-family: Spartan, sans-serif;
  width: 340px;
  height: 48px;
  padding: 10px 0 0 10px;
  border: 0;
  outline: none;
  resize: none;
  margin-right: 405px;
}

.datetime:focus {
  outline: none;
}

.space {
  display: flex;
  flex: 0 0 100%;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: 200px;
}

.input-field {
  margin-right: 100px;
}
