<mat-label class="edit-label"><h1>Edit employee</h1></mat-label>
<form
  class="form-class"
  [formGroup]="editEmployeeForm"
  #employeeForm="ngForm"
  (ngSubmit)="onSubmit(editEmployeeForm, employeeForm)"
>

    <div class="input-form">
    <div class="column">
      <mat-label><h3>FIRST NAME</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="firstName"
          type="text"
          placeholder="Name"
        />
        <mat-error
          *ngIf="editEmployeeForm.get('firstName')?.hasError('required')"
        >
          Name is required!
        </mat-error>
      </mat-form-field>
      <!--          [(ngModel)]="employee.firstName"-->

      <mat-label><h3>E-MAIL</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="email"
          type="text"
          [errorStateMatcher]="errorMatcher"
          placeholder="email@example.com"
        />
        <mat-error
          *ngIf="
            editEmployeeForm.get('email')?.hasError('email') &&
            !editEmployeeForm.get('email')?.hasError('required')"
        >
          Please write correct address!
        </mat-error>
      </mat-form-field>

      <mat-label><h3>ROLE</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <mat-select
          class="emp-form-field"
          placeholder="Role"
          formControlName="roleName"
          [compareWith]="compareObjects"
        >
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role.roleName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="column">
      <mat-label><h3>LAST NAME</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="lastName"
          type="text"
          placeholder="Surname"
        />
        <mat-error
          *ngIf="editEmployeeForm.get('lastName')?.hasError('required')"
        >
          Surname is required!
        </mat-error>
      </mat-form-field>

      <mat-label><h3>PHONE NUMBER</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="phoneNumber"
          type="text"
          placeholder="+380989898988"
        />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-label><h3>STATUS</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <mat-select
          class="emp-form-field"
          placeholder="Status"
          formControlName="statusName"
          [compareWith]="compareObjects"
        >
          <mat-option *ngFor="let status of statuses" [value]="status">
            {{ status.statusName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="edit-employee">
    <button
      mat-raised-button
      class="edit"
      [disabled]="!editEmployeeForm.valid"
      disabled
      type="submit"
      color="accent"
    >
      EDIT
    </button>
    <button mat-raised-button class="edit" (click)="back()" color="accent">
      VIEW ALL EMPLOYEES
    </button>
  </div>
  <span></span>
</form>
