<div class="page-edit">
  <div class="head-prod-edit">
    <div class="h-add">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <form name="AddProduct">
    <table class="table-edit">
      <tr>
        <td>
          <h3>Category</h3>
          <select id="Category">
            <option disabled selected>Select a category</option>
          </select>
        </td>
        <td colspan="3">
          <h3>Name</h3>
          <input class="input-name" type="text"/>
        </td>
        <td rowspan="3" class="cell-photo">
          <input type="image" class="photo" value="Photo" alt="Photo"/>
        </td>
      </tr>
      <tr>
        <td>
          <h3>Sex</h3>
          <select>
            <option disabled selected>Select gender</option>
            <option>MAN</option>
            <option>WOMAN</option>
          </select>
        </td>
        <td>
          <h3>Color</h3>
          <select>
            <option disabled selected>Choose color</option>
          </select>
        </td>
        <td>
          <h3>Price</h3>
          <input type="number" name="Price" min="0"/>
        </td>
        <td>
          <h3>Discount</h3>
          <input type="number" name="Discount" min="0"/>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <h3>Material</h3>
          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip
                *ngFor="let material of materials"
                [selectable]="selectable"
                [removable]="removable"
                (removed)="remove(material)"
              >
                {{ material }}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input
                [formControl]="materialCtrl"
                [matAutocomplete]="auto"
                [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)"
              />
            </mat-chip-list>
            <mat-autocomplete
              #auto="matAutocomplete"
              (optionSelected)="selected($event)"
            >
              <mat-option
                *ngFor="let material of filteredMaterials | async"
                [value]="material"
              >
                {{ material }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="4" rowspan="5">
          <h3>Description</h3>
          <input class="input-description" type="text" name="Description"/>
          <div class="deactivate-box">
            <input type="checkbox"/>Deactivate product
          </div>
        </td>
        <td rowspan="5" class="sizes">
          <div class="sizes">XS: <input class="amount-size"/> <br/></div>
          <div class="sizes">S: <input class="amount-size"/><br/></div>
          <div class="sizes">M: <input class="amount-size"/><br/></div>
          <div class="sizes">L: <input class="amount-size"/><br/></div>
          <div class="sizes">XL: <input class="amount-size"/><br/></div>
          <div class="sizes">XXL: <input class="amount-size"/></div>
        </td>
      </tr>
    </table>
    <br/>
    <div class="save-wrapper">
      <button type="submit" class="button-save">Save Product</button>
      <br/>
    </div>
  </form>
</div>
