.head-prod-comparison {
  height: 70px;
  background: #f8f8f8;
  display: flex;
  justify-content: center;
}

.comparison-label {
  margin: 17px auto 17px;
}

.h-comparison {
  margin: 17px auto 17px;
}

.search-box {
  width: 100%;
}

.form-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-form {
  width: 95%;
}

.dl-table {
  width: 100%;
  font-size: 16px;
}

.table-dl-header {
  background: #c4c4c4;
  height: 46px;
  font-size: 16px;
}

.dl-detail-btn {
  width: 97px;
  height: 46px;
  background: #f8f8f8;
}

.dl-row-button {
  width: 40px;
  height: 40px;
  background: #f8f8f8;
}

.dl-circle-icon {
  color: #111;
}

.button-div {
  display: flex;
  justify-content: center;
  margin: 48px auto 80px;
}

.btn-add-prod {
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 1px;
  height: 48px;
  width: 340px;
}
