<div class="head-prod-comparison">
  <mat-label class="comparison-label">
    <h1 class="compare-h">Manage products</h1>
  </mat-label>
</div>
<form class="form-class">

  <div class="manage-form">
    <mat-form-field class="search-box" appearance="fill">
      <mat-label>Type product name</mat-label>
      <input matInput />
      <!--      <input matInput type="text" (keyup)="searchEmployees(getValue($event))" id = "lastName" placeholder="Search" )/>-->
    </mat-form-field>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="dl-table">

        <ng-container matColumnDef="productId">
          <th mat-header-cell *matHeaderCellDef> Product ID</th>
          <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
        </ng-container>


        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="materials">
          <th mat-header-cell *matHeaderCellDef> Materials </th>
          <td mat-cell *matCellDef="let element"> {{element.materials.name}} </td>
        </ng-container>


        <ng-container matColumnDef="productSex">
          <th mat-header-cell *matHeaderCellDef> Sex </th>
          <td mat-cell *matCellDef="let element"> {{element.productSex}} </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef> Color </th>
          <td mat-cell *matCellDef="let element"> {{element.color}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Price </th>
          <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef> Discount </th>
          <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
        </ng-container>

        <ng-container matColumnDef="action1">
          <td mat-header-cell *matHeaderCellDef></td>
          <th mat-cell *matCellDef="let element">
            <button [routerLink]="['/edit', element.productId]" mat-mini-fab class="dl-row-button">
              <span class="dl-circle-icon">
              <mat-icon>check</mat-icon>
              </span>
            </button>
          </th>
        </ng-container>

        <ng-container matColumnDef="action2">
          <td mat-header-cell *matHeaderCellDef></td>
          <th mat-cell *matCellDef="let element">
            <button mat-mini-fab class="dl-row-button">
              <span class="dl-circle-icon">
              <mat-icon>close</mat-icon>
                </span>
            </button>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-dl-header"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</form>
<div class="button-div">
  <button
    mat-raised-button
    class="btn-add-prod"
    type="submit"
    color="accent"
    routerLink="/add"
  >
    ADD PRODUCT
  </button>
</div>




