.img-uploader-div {
  height: 270px;
  display: flex;
  justify-content: left;
}

.input-div {
  width: 125px;
  height: 48px;
  background: #121212;
  display: flex;
  align-items: center;
}

.input-label {
  font-size: 20px;
  color: white;
  cursor: pointer;
  padding: 25px 25px;
}

#input-file {
  display: none;
}
