<app-header></app-header>
<div class="cart-form" *ngFor="let product of products">
  <!--    *ngFor="let product of products-->
  <div class="product-description">
    <div class="cart-photo">
      <img class="img" [src]="product.photo" alt="" />
      <div class="name-amount-div">
        <h3 class="h3-name">{{ product.name }}</h3>
        <h3 class="h3-color-size">{{ product.color }}, {{ product.size }}</h3>
        <span class="amount-gap"></span>
        <mat-error><h5 class="item-error-label" *ngIf="!checkoutAvailable">
          You should remove this product
        </h5></mat-error>
        <div class="add-substract-div">
          <button
            mat-raised-button
            class="btn btn-primary"
            (click)="addProduct(product)"
            [disabled]="!checkoutAvailable"
          >
            +
          </button>
          <h3 class="h3-amount">{{ product.amount }}</h3>
          <button
            mat-raised-button
            class="btn btn-primary"
            (click)="substractProduct(product)"
          >
            -
          </button>
        </div>
      </div>
    </div>
    <div class="price-delete">
      <h3 class="h3-price">{{ product.overallPrice }} UAH</h3>
    </div>
  </div>
  <hr class="solid" />
</div>
<div class="total-container">
  <h3 class="h3-total">Total</h3>
    <h3 class="h3-sum">{{ overallPrice }} UAH </h3>
</div>
<div class="checkout">
  <hr class="solid" />
  <button
    mat-raised-button
    class="check"
    color="accent"
    *ngIf="checkoutAvailable"
    (click)="goToCheckout()"
  >
    CHECK OUT
  </button>
  <br />
</div>
