<mat-label class="cart-label"><h1>SHOPPING CART</h1></mat-label>
<div class="cart-form" *ngFor="let product of products">
  <!--    *ngFor="let product of products-->
  <div class="product-description">
    <div class="cart-photo">
      <img class="img" [src]="product.photo" alt="" />
      <div>
        <h3 class="h3-name">{{ product.name }}</h3>
        <h3 class="h3-color-size">{{ product.color }}, {{ product.size }}</h3>
        <span class="amount-gap"></span>
        <div class="add-substract-div">
          <button
            mat-raised-button
            class="btn btn-primary"
            (click)="addProduct(product)"
          >
            + <i class="fa fa-plus"></i>
          </button>
          <h3 class="h3-amount">{{ product.amount }}</h3>
          <button
            mat-raised-button
            class="btn btn-primary"
            (click)="substractProduct(product)"
          >
            - <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="price-delete">
      <h3 class="h3-price">{{ product.overallPrice }} UAH</h3>
    </div>
  </div>
  <hr class="solid" />
</div>
<div class="total-container">
  <h3 class="h3-total">Total</h3>
  <h3 class="h3-sum">
    <h3>Sum</h3>
  </h3>
</div>
<div class="checkout">
  <hr class="solid" />
  <button
    mat-raised-button
    class="check"
    color="accent"
    *ngIf="checkoutAvailable"
    (click)="goToCheckout()"
  >
    CHECK OUT
  </button>
  <!--  <button mat-raised-button class="check">VIEW CART</button>-->
  <br />
</div>
