<div class="category-container">
  <mat-selection-list #tops [multiple]="false">
    <p class="title-category">Tops</p>
    <mat-list-option *ngFor="let top of typesOfTops" [value]="top">
      {{ top }}
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list #bottoms [multiple]="false">
    <p class="title-category">Bottoms</p>
    <mat-list-option *ngFor="let bottom of typesOfBottoms" [value]="bottom">
      {{ bottom }}
    </mat-list-option>
  </mat-selection-list>

  <mat-selection-list #accessories [multiple]="false">
    <p class="title-category">Accessories</p>
    <mat-list-option
      *ngFor="let accessory of typesOfAccessories"
      [value]="accessory"
    >
      {{ accessory }}
    </mat-list-option>
  </mat-selection-list>
</div>
