.manage-label {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

.form-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-form {
  width: 80%;
}

.search-box {
  width: 100%;
}
.employees-toggle-filter {
  width: 100%;
  background-color: #ffff;
  border: none;
  color: #121212;
  padding: 16px 32px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.06em;
  line-height: 15px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.employees-toggle-filter:hover {
  background-color: #f8f8f8;
}

table {
  width: 100%;
}

.edit-btn {
  font-size: 14px;
  color: black;
  background-color: lightgrey;
}

.add-btn {
  width: 30%;
  border-radius: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.add-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}

