.manage-label {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

.form-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.manage-form {
  width: 60%;
}

.search-box {
  width: 100%;
}

table {
  width: 100%;
}

.edit-btn {
  font-size: 14px;
  color: black;
  background-color: lightgrey;
}

.add-btn {
  width: 50%;
  border-radius: 1px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.add-employee {
  display: flex;
  flex-direction: column;
  align-items: center;
}
