<div class="filter-container">
  <section class="example-section">
    <span class="title-section"> Color </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of colorTask.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color">
            {{ subtask.name }}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>
  <section class="example-section">
    <span class="title-section"> Price </span>
    <span class="example-list-section">
      <ul>
        <li *ngFor="let subtask of priceTask.subtasks">
          <mat-checkbox [(ngModel)]="subtask.completed" [color]="subtask.color">
            {{ subtask.name }}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>
</div>
