<div class="footer">
  <div>
    <mat-list>
      <div mat-subheader>Categories</div>
      <mat-list-item>
        <button mat-flat-button (submit)="routeToProductCatalog('women')")>Women</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (submit)="routeToProductCatalog('men')">Men</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (submit)="goToAuctions()">Auctions</button>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <mat-list>
      <div mat-subheader>Contact us</div>
      <mat-list-item>
        <mat-icon>location_on</mat-icon>
        <button mat-flat-button [disabled]="true">Ukraine, Kyiv</button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>local_phone</mat-icon>
        <button mat-flat-button [disabled]="true">
          +38 (044) 256 99 91
        </button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>access_time</mat-icon>
        <button mat-flat-button [disabled]="true">All week 24/7</button>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>mail_outline</mat-icon>
        <button mat-flat-button [disabled]="true">
          onioncracker21@gmail.com
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>
