<div class="footer">
  <div>
    <mat-list>
      <div mat-subheader>Categories</div>
      <mat-list-item>
        <button mat-flat-button (click)="routeToProductCatalog('women')">
          Women
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (click)="routeToProductCatalog('men')">
          Men
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button (click)="goToAuctions()">Auctions</button>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <mat-list>
      <div mat-subheader>Contact us</div>
      <mat-list-item>
        <mat-icon>location_on</mat-icon>
        <mat-label class="label"> Ukraine, Kyiv</mat-label>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>local_phone</mat-icon>
        <mat-label class="label"> +38 (044) 256 99 91</mat-label>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>access_time</mat-icon>
        <mat-label class="label"> All week 24/7</mat-label>
      </mat-list-item>
      <mat-list-item>
        <mat-icon>mail_outline</mat-icon>
        <mat-label class="label"> onioncracker21@gmail.com</mat-label>
      </mat-list-item>
    </mat-list>
  </div>
</div>
