.title-container {
  margin-bottom: 20px;
  padding: 25px 0 25px 0;
  text-align: center;
  background: #f8f8f8;
}

.display-4 {
  margin-bottom: 0;
}

.mb-5 {
  font-weight: bold;
  text-transform: capitalize;
}

.body-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 35px;
}

.h5-title-parameter {
  display: inline;
  margin-right: 4px;
  text-transform: uppercase;
}

.parameter {
  display: inline;
  font-weight: bold;
}

.photos-container {
  margin-top: 5px;
  margin-right: 90px;
}

.card-img-top {
  width: 448px;
  height: 560px;
}

.card-img-description {
  width: 64px;
  height: 64px;
  display: block;
  margin-top: 16px;
  margin-bottom: 32px;
}

.button-container {
  display: inline-block;
  margin-top: 16px;
}

.button {
  background: #f8f8f8;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  color: #444242;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  margin: 0 5px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #121212;
  box-sizing: border-box;
}

.button:focus {
  border: 2px solid #121212;
  box-sizing: border-box;
}

.button:active {
  border: 2px solid #121212;
  box-sizing: border-box;
}

.underlining-container::after {
  content: "";
  display: block;
  width: 522px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
}

.price {
  display: inline-block;
  margin: 6px 30px 6px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 36px;
  text-transform: uppercase;
}

.purchase-button {
  display: inline-block;
  margin-right: 30px;
  background: #121212;
  width: 156px;
  height: 48px;
  border: 2px solid #121212;
  box-sizing: border-box;
  color: #ffff;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  transition-duration: 0.3s;
  cursor: pointer;
}

.purchase-button:hover {
  background: #4b4a4a;
  border: 2px solid #4b4a4a;
  box-sizing: border-box;
}

.product-info-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
}

.product-info-container {
  width: 526px;
}

.description {
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #121212;
  opacity: 0.6;
}

.h5-additional-info-title {
  display: inline-block;
  margin-right: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #121212;
}

.additional-info {
  display: inline-block;
  margin-right: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #121212;
  opacity: 0.6;
}
