<div *ngIf="isLoggedIn; else loggedOut">
</div>

<ng-template #loggedOut>
  <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
    <h3>Login</h3>
    <div>
      <label>Username</label>
      <div>
        <input type="email" id="form-email" style="display: block"
               name="username" [(ngModel)]="form.username" #username="ngModel"
               placeholder="Email address" required/>
      </div>
      <div *ngIf="f.submitted && username.invalid">
        <div>Email is required</div>
      </div>
    </div>
    <div>
      <label>Password</label>

      <div>
        <input type="password"
               name="password" [(ngModel)]="form.password" #password="ngModel"
               placeholder="Password" required/>
      </div>
      <div *ngIf="f.submitted && password.invalid">
        <div>Password is required</div>
      </div>
    </div>

    <div>
      <button>Sign in</button>
    </div>
  </form>

</ng-template>
