.title-container {
  margin-bottom: 20px;
  padding: 25px 0 25px 0;
  text-align: center;
  background: #f8f8f8;
}

.display-4 {
  margin-bottom: 0;
}

.mb-5 {
  text-transform: uppercase;
  font-weight: bold;
}
