<mat-label class="edit-label"><h1>Add new employee</h1></mat-label>
<form class="form-class" (ngSubmit)="onSubmit()" [formGroup]="addEmployeeForm">
  <span></span>

  <div class="input-form">
    <div class="column">
      <mat-label><h3>FIRST NAME</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="firstName"
          type="text"
          placeholder="Name"
        />
        <mat-error
          *ngIf="addEmployeeForm.get('firstName')?.hasError('required')"
        >
          Name is required!
        </mat-error>
      </mat-form-field>

      <mat-label><h3>E-MAIL</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="email"
          type="text"
          [errorStateMatcher]="errorMatcher"
          placeholder="email@example.com"
        />
        <mat-error
          *ngIf="
            addEmployeeForm.get('email')?.hasError('email') &&
            !addEmployeeForm.get('email')?.hasError('required')
          "
        >
          Please write correct address!
        </mat-error>
        <mat-error *ngIf="addEmployeeForm.get('email')?.hasError('required')">
          Email is<strong>required!</strong>
        </mat-error>
      </mat-form-field>

      <mat-label><h3>ROLE</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="userRole"
          type="text"
          placeholder="Role"
        />
        <mat-error
          *ngIf="addEmployeeForm.get('userRole')?.hasError('required')"
        >
          Role is required!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="column">
      <mat-label><h3>LAST NAME</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="lastName"
          type="text"
          placeholder="Surname"
        />
        <mat-error
          *ngIf="addEmployeeForm.get('lastName')?.hasError('required')"
        >
          Surname is required!
        </mat-error>
      </mat-form-field>

      <mat-label><h3>PHONE NUMBER</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="phoneNumber"
          type="text"
          placeholder="+8 800 555 35 35"
        />
        <mat-error
          *ngIf="addEmployeeForm.get('phoneNumber')?.hasError('required')"
        >
          Name is required!
        </mat-error>
      </mat-form-field>

      <mat-label><h3>STATUS</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="status"
          type="text"
          placeholder="Status"
        />
        <mat-error *ngIf="addEmployeeForm.get('status')?.hasError('required')">
          Status is required!
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="add-employee">
    <button
      mat-raised-button
      class="add"
      [disabled]="!addEmployeeForm.valid"
      disabled
      type="submit"
      color="accent"
    >
      ADD
    </button>
  </div>
  <span></span>
</form>
