<mat-label class="edit-label"><h1>Add new employee</h1></mat-label>
<form
  class="form-class"
  [formGroup]="addEmployeeForm"
  #employeeForm="ngForm"
  (ngSubmit)="onSubmit(addEmployeeForm, employeeForm)"
>
  <div class="input-form">
    <div class="column">
      <mat-label><h3>FIRST NAME</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="firstName"
          type="text"
          placeholder="Name"
        />
        <mat-error
          *ngIf="addEmployeeForm.get('firstName')?.hasError('required')"
        >
          Name is required!
        </mat-error>
      </mat-form-field>

      <mat-label><h3>E-MAIL</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="email"
          type="text"
          [errorStateMatcher]="errorMatcher"
          placeholder="email@example.com"
        />
        <mat-error
          *ngIf="
            addEmployeeForm.get('email')?.hasError('email') &&
            !addEmployeeForm.get('email')?.hasError('required')
          "
        >
          Please write correct address!
        </mat-error>
        <mat-error *ngIf="addEmployeeForm.get('email')?.hasError('required')">
          Email is<strong>required!</strong>
        </mat-error>
      </mat-form-field>

      <mat-label>
        <h3>ROLE</h3>
      </mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <mat-select
          class="emp-form-field"
          placeholder="Role"
          formControlName="roleId"
        >
          <mat-option *ngFor="let role of roles" [value]="role.id">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="column">
      <mat-label><h3>LAST NAME</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="lastName"
          type="text"
          placeholder="Surname"
        />
        <mat-error
          *ngIf="addEmployeeForm.get('lastName')?.hasError('required')"
        >
          Surname is required!
        </mat-error>
      </mat-form-field>

      <mat-label><h3>PHONE NUMBER</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <input
          matInput
          formControlName="phoneNumber"
          type="text"
          placeholder="+380989898988"
        />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

      <mat-label><h3>STATUS</h3></mat-label>
      <mat-form-field class="emp-form-field" appearance="fill">
        <mat-select
          class="emp-form-field"
          placeholder="Status"
          formControlName="statusId"
        >
          <mat-option *ngFor="let status of statuses" [value]="status.id">
            {{ status.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="add-employee">
    <button
      mat-raised-button
      class="add"
      [disabled]="!addEmployeeForm.valid"
      disabled
      type="submit"
      color="accent"
    >
      ADD
    </button>
    <button mat-raised-button class="add" (click)="back()" color="accent">
      VIEW ALL EMPLOYEES
    </button>
  </div>
  <span></span>
</form>
