<div class="header">
  <h1 mat-dialog-title>{{ data.title }}</h1>
</div>
<div mat-dialog-content>
  <p class="dialog-message">{{ data.message }}</p>
</div>
<div>
  <mat-form-field class="input-field" appearance="fill">
    <input [(ngModel)]="input" matInput type="text" placeholder="Value" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="cancel()">
    {{ data.cancelText }}
  </button>
  <button mat-button mat-dialog-close (click)="confirm()">
    {{ data.confirmText }}
  </button>
</div>
