.example-form {
  min-width: 550px;
  max-width: 550px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.comment-font {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.comment-area {
  background: #f8f8f8;
  font-family: Spartan, sans-serif;
  width: 100%;
  height: 125px;
  padding: 10px 0 0 10px;
  border: none;
  resize: none;
}

.comment-area:focus {
  outline: none;
}
