<div class="head-prod-edit">
  <mat-label class="edit-label">
    <h1 class="edit-h">EDIT PRODUCT</h1>
  </mat-label>
</div>
<form name="AddProduct">
  <table class="table-edit">
    <tr>
      <td>
        <h3 class="edit-h">ID: </h3>
      </td>
      <td>
        <h3 class="edit-h">Category</h3>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedValue" name="category">
            <mat-option *ngFor="let category of categories" [value]="category.value1">
              {{category.viewValue1}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td colspan="2">
        <h3 class="edit-h">Name</h3>
        <mat-form-field class="input-name" appearance="fill">
          <input matInput type="text" placeholder="Name" />
        </mat-form-field>
      </td>
      <td rowspan="3" class="cell-photo">
        <input type="image" class="photo" value="Photo" alt="Photo" />
      </td>
    </tr>
    <tr>
      <td>
        <h3 class="edit-h">Sex</h3>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedValue" name="sex">
            <mat-option *ngFor="let sex of sexes" [value]="sex.value2">
              {{sex.viewValue2}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <h3 class="edit-h">Color</h3>
        <mat-form-field appearance="fill">
          <mat-select [(ngModel)]="selectedValue" name="color">
            <mat-option *ngFor="let color of colors" [value]="color.value3">
              {{color.viewValue3}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <h3 class="edit-h">Price</h3>
        <mat-form-field class="input-field" appearance="fill">
          <input matInput type="number" placeholder="Price" />
        </mat-form-field>
      </td>
      <td>
        <h3 class="edit-h">Discount</h3>
        <mat-form-field class="input-field" appearance="fill">
          <input matInput type="number" placeholder="Discount" />
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="4">
        <h3 class="edit-h">Material</h3>
        <mat-form-field appearance="fill" class="material-field">
          <mat-select [formControl]="toppings" multiple placeholder="Select materials">
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td colspan="4" rowspan="5">
        <h3 class="edit-h">Description</h3>
        <mat-form-field class="input-description" appearance="fill">
            <textarea
              matInput spellcheck="true"
              class="description"
              placeholder="Some information about product"
            >

            </textarea>
        </mat-form-field>
        <div class="deactivate-box">
          <mat-checkbox>
            <mat-label  class="edit-h">Deactivate product</mat-label>
          </mat-checkbox>
        </div>
      </td>
      <td rowspan="5" class="sizes">
    <tr>
      <td>
        <div class="sizes">
          <mat-label  class="edit-h">XS:</mat-label>
          <mat-form-field class="size-amount" appearance="fill">
            <input matInput type="number" placeholder="Amount" />
          </mat-form-field>
          <br />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="sizes">
          <mat-label  class="edit-h">S:</mat-label>
          <mat-form-field class="size-amount" appearance="fill">
            <input matInput type="number" placeholder="Amount" />
          </mat-form-field>
          <br />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="sizes">
          <mat-label  class="edit-h">M:</mat-label>
          <mat-form-field class="size-amount" appearance="fill">
            <input matInput type="number" placeholder="Amount" />
          </mat-form-field>
          <br />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="sizes">
          <mat-label  class="edit-h">L:</mat-label>
          <mat-form-field class="size-amount" appearance="fill">
            <input matInput type="number" placeholder="Amount" />
          </mat-form-field>
          <br />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="sizes">
          <mat-label  class="edit-h">XL:</mat-label>
          <mat-form-field class="size-amount" appearance="fill">
            <input matInput type="number" placeholder="Amount" />
          </mat-form-field>
          <br />
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="sizes">
          <mat-label  class="edit-h">XXL:</mat-label>
          <mat-form-field class="size-amount" appearance="fill">
            <input matInput type="number" placeholder="Amount" />
          </mat-form-field>
          <br />
        </div>
      </td>
    </tr>
  </table>
  <br />
  <div class="wrapper">
    <button
      mat-raised-button
      class="edit-btn"
      type="submit"
      color="accent"
    >
      SAVE CHANGES
    </button>

  </div>
  <br/>
  <div class="wrapper">
    <button
      mat-raised-button
      class="edit-btn delete-btn"
      type="submit"
      color="accent"
    >
      DELETE PRODUCT
    </button>
  </div>
</form>
