<div>
  <h1 class="dl-h1">Your orders</h1>
</div>
<div class="dl-top">
  <div>
    <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose date"
        (dateChange)="pickDataEvent()"
        [formControl]="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="dl-p1">
    <p *ngIf="orders.length === 0">
      There are no orders for today, please choose another date
    </p>
  </div>
</div>

<div *ngIf="orders.length > 0">
  <form class="form-class">
    <div class="manage-form">
      <div class="mat-elevation-z8">
        <table
          title="orders"
          mat-table
          [dataSource]="dataSource"
          class="dl-table"
        >
          <ng-container matColumnDef="orderId">
            <th id="1" mat-header-cell *matHeaderCellDef>Order ID</th>
            <td mat-cell *matCellDef="let element">{{ element.orderId }}</td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th id="2" mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{ element.status }}</td>
          </ng-container>

          <ng-container matColumnDef="dateTime">
            <th id="3" mat-header-cell *matHeaderCellDef>Date and Time</th>
            <td mat-cell *matCellDef="let element">
              {{ element.dateDelivery | date: "short" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="address">
            <th id="4" mat-header-cell *matHeaderCellDef>Address</th>
            <td mat-cell *matCellDef="let element">{{ element.city }}</td>
          </ng-container>

          <ng-container matColumnDef="phoneNumber">
            <th id="5" mat-header-cell *matHeaderCellDef>Phone Number</th>
            <td mat-cell *matCellDef="let element">
              {{ element.phoneNumber }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <td id="6" mat-header-cell *matHeaderCellDef></td>
            <th id="7" mat-cell *matCellDef="let element">
              <a [routerLink]="['/order-history', element.orderId]">
                <button mat-button class="dl-detail-btn">Details</button>
              </a>
            </th>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns"
            class="table-dl-header"
          ></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>
  </form>
</div>
