.head-general {
  text-align: center;
  padding: 25px 0 25px 0;
  background: #f8f8f8;
  text-transform: uppercase;
  font-weight: bold;
  color: #121212;
  word-spacing: 7px;
}

.images {
  display: flex;
  justify-content: center;
  max-width: 95%;
  margin: 0 auto 80px;
  cursor: pointer;
}

.women-div {
  position: relative;
  margin: 1%;
}

.men-div {
  position: relative;
  margin: 1%;
}

.btn {
  position: absolute;
  top: 38%;
  left: 27%;
  width: 46%;
  height: 24%;
  font-weight: 500;
  font-size: 32px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #121212;
  background: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  top: 35%;
  left: 23%;
  width: 54%;
  height: 30%;
  box-sizing: border-box;
}
