.pill-container {
  position: absolute;
  margin-top: 288px;
  width: 50px;
  height: 30px;
  background: #0BB17F;
}

.pill-title {
  margin-top: 7px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  color: #ffff;
}
