<div class="page-comparison">
  <div class="head-comparison">
    <div class="h-comparison"><h1>Comparison</h1></div>
  </div>
  <div class="table-comparison">
    <table>
      <tr>
        <td>
          <div class="photo-and-button">
            <button class="button-x">X</button>
            <img [attr.src]="" alt="Photo" class="photo"/>
          </div>
        </td>
        <td>
          <button class="button-x">X</button>
          <img [attr.src]="" alt="Photo" class="photo"/>
        </td>
        <td *ngIf="products.length === 3 || products.length === 4">
          <button class="button-x">X</button>
          <img [attr.src]="" alt="Photo" class="photo"/>
        </td>
        <td *ngIf="products.length === 4">
          <button class="button-x">X</button>
          <img [attr.src]="" alt="Photo" class="photo"/>
        </td>
      </tr>
      <tr>
        <td class="prod-name">
          <a routerLink="products/:id"></a>
        </td>
        <td class="prod-name">
          <a routerLink="products/:id"></a>
        </td>
        <td
          class="prod-name"
          *ngIf="products.length === 3 || products.length === 4"
        >
          <a routerLink="products/:id"></a>
        </td>
        <td class="prod-name" *ngIf="products.length === 4">
          <a routerLink="products/:id"></a>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>In Stock</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td *ngIf="products.length === 3 || products.length === 4"></td>
        <td *ngIf="products.length === 4"></td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>Discount</h4>
        </td>
      </tr>
      <tr>
        <td>-%</td>
        <td>-%</td>
        <td *ngIf="products.length === 3 || products.length === 4">-%</td>
        <td *ngIf="products.length === 4">-%</td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>Price</h4>
        </td>
      </tr>
      <tr>
        <td>UAH</td>
        <td>UAH</td>
        <td *ngIf="products.length === 3 || products.length === 4">UAH</td>
        <td *ngIf="products.length === 4">UAH</td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>Category</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td *ngIf="products.length === 3 || products.length === 4"></td>
        <td *ngIf="products.length === 4"></td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>Sex</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td *ngIf="products.length === 3 || products.length === 4"></td>
        <td *ngIf="products.length === 4"></td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>Sizes</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td *ngIf="products.length === 3 || products.length === 4"></td>
        <td *ngIf="products.length === 4"></td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>Color</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td *ngIf="products.length === 3 || products.length === 4"></td>
        <td *ngIf="products.length === 4"></td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>Materials</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td *ngIf="products.length === 3 || products.length === 4"></td>
        <td *ngIf="products.length === 4"></td>
      </tr>
      <tr>
        <td colspan="4">
          <h4>About items</h4>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td *ngIf="products.length === 3 || products.length === 4"></td>
        <td *ngIf="products.length === 4"></td>
      </tr>
    </table>
    <div class="button-div">
      <button class="button-add-more" type="submit" routerLink="/products">
        ADD MORE
      </button>
    </div>
  </div>
</div>
