<div class="head-prod-comparison">
  <mat-label class="comparison-label">
    <h1 class="compare-h">Comparison</h1>
  </mat-label>
</div>
<div class="table-comparison">
  <table>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        <div class="photo-and-button" >
          <button class="button-x">X</button>
          <img src="{{product.photo}}" class="photo" alt="{{product.name}}" />
        </div>
      </td>
    </tr>
    <tr>
      <td class="prod-name compare-field" *ngFor="let product of products">
        <a routerLink="/products/{{product.id}}">{{product.name}}</a>
      </td>
    </tr>
    <tr>
      <td colspan="4" class="compare-field">
        <h3 class="compare-h label-field">In Stock</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        {{product.availability}}
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">Discount</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        -{{product.discount}}%
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">Price</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        {{product.price}} UAH
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">Category</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        {{product.category}}
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">Sex</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        {{product.sex}}
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">Sizes</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        <span *ngFor="let size of product.sizes">
          {{size.size}}
        </span>
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">Color</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        {{product.color}}
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">Materials</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        {{product.materials}}
      </td>
    </tr>
    <tr>
      <td class="compare-field" colspan="4">
        <h3 class="compare-h label-field">About items</h3>
      </td>
    </tr>
    <tr>
      <td class="compare-field" *ngFor="let product of products">
        {{product.description}}
      </td>
    </tr>
  </table>
  <div class="button-div">
    <button mat-raised-button class="btn-add-more" type="submit" color="accent" routerLink="/products">
      ADD MORE
    </button>
  </div>
</div>
