.personal-info-font {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.personal-info-font-small {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space {
  display: flex;
  justify-content: space-between;
}
