.personal-info-font {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.personal-info-font-small {
  font-family: Spartan;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.input-area {
  display: flex;
  flex: 0 0 100%;
  font-family: Spartan, sans-serif;
  border: none;
  resize: none;
}

.input-area:focus {
  outline: none;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 2%;
  width: 25%;
}
