<form [formGroup]="personalInformationForm">
  <div class="space">
    <a id="personal-information" class="personal-info-font"
      >PERSONAL INFORMATION</a
    >
    <div>
      <a
        id="edit-personal-info-btn"
        mat-button
        target="_blank"
        *ngIf="isAuthUser"
        (click)="isEdit = !isEdit"
        >EDIT</a
      >
    </div>
  </div>
  <div *ngIf="!isEdit">
    <p>
      {{ personalInformation.ordererFirstName }}
      {{ personalInformation.ordererLastName }}
    </p>
    <p>{{ personalInformation.phoneNumber }}</p>
    <p>{{ personalInformation.email }}</p>
    <br />
    <div>
      <p>
        {{ personalInformation.city }}
        <span *ngIf="personalInformation.city && personalInformation.street"
          >,</span
        >
        {{ personalInformation.street }}
        <span *ngIf="personalInformation.street && personalInformation.house"
          >,</span
        >
        {{ personalInformation.house }}
        <span
          style="white-space: nowrap"
          *ngIf="personalInformation.house && personalInformation.apartment"
          >/</span
        >
        {{ personalInformation.apartment }}
      </p>
    </div>
    <hr />
  </div>

  <div *ngIf="!isAuthUser || isEdit">
    <div class="input-form">
      <div class="column">
        <mat-form-field>
          <mat-label> First name </mat-label>
          <input
            class="input-area"
            matInput
            formControlName="firstName"
            type="text"
            (change)="onFormDataChange()"
            placeholder="First Name"
          />
          <mat-error
            *ngIf="
              personalInformationForm.get('firstName')?.hasError('required')
            "
          >
            First Name is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input
            class="mt input-area"
            matInput
            formControlName="lastName"
            type="text"
            (change)="onFormDataChange()"
            placeholder="Last Name"
          />
          <mat-error
            *ngIf="
              personalInformationForm.get('lastName')?.hasError('required')
            "
          >
            Last Name is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label> Phone number </mat-label>
          <input
            class="input-area"
            matInput
            formControlName="phoneNumber"
            type="text"
            (change)="onFormDataChange()"
          />
          <mat-error
            *ngIf="
              personalInformationForm.get('phoneNumber')?.hasError('required')
            "
          >
            Phone Number is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="emp-form-field">
          <input
            class="mt input-area"
            matInput
            formControlName="email"
            (change)="onFormDataChange()"
            type="text"
            placeholder="Enter your email"
          />
          <mat-error
            *ngIf="personalInformationForm.get('email')?.hasError('required')"
          >
            Email is required!
          </mat-error>
        </mat-form-field>
      </div>

      <div class="column">
        <mat-label
          ><h3 class="personal-info-font-small">DELIVERY ADDRESS</h3></mat-label
        >
        <mat-form-field class="emp-form-field">
          <input
            class="input-area"
            matInput
            formControlName="city"
            (change)="onFormDataChange()"
            type="text"
            placeholder="City"
          />
          <mat-error
            *ngIf="personalInformationForm.get('city')?.hasError('required')"
          >
            City is required!
          </mat-error>
        </mat-form-field>

        <mat-form-field class="emp-form-field">
          <input
            class="mt input-area"
            matInput
            formControlName="street"
            type="text"
            (change)="onFormDataChange()"
            placeholder="Street"
          />
          <mat-error
            *ngIf="personalInformationForm.get('street')?.hasError('required')"
          >
            Street is required!
          </mat-error>
        </mat-form-field>

        <div class="apartment-building-info">
          <mat-form-field class="emp-form-field">
            <input
              class="input-area-small"
              matInput
              formControlName="house"
              type="text"
              (change)="onFormDataChange()"
              placeholder="Building"
            />
            <mat-error
              *ngIf="personalInformationForm.get('house')?.hasError('required')"
            >
              House is required!
            </mat-error>
          </mat-form-field>

          <mat-form-field class="emp-form-field">
            <input
              class="ml input-area-small"
              matInput
              formControlName="apartment"
              type="text"
              (change)="onFormDataChange()"
              placeholder="Apartment"
            />
            <mat-error
              *ngIf="
                personalInformationForm.get('apartment')?.hasError('required')
              "
            >
              Apartment is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <hr />
  </div>
</form>
