<div class="space">
  <h2 class="personal-info-font">PERSONAL INFORMATION</h2>
  <div>
    <a mat-button href="https://www.google.com/" target="_blank">EDIT</a>
  </div>
</div>
<div>
<!--  <p>{{ checkout.firstName }} {{checkout.lastName}}</p>-->
<!--  <p>{{ checkout.phoneNumber }}</p>-->
<!--  <p>{{ checkout.email }}</p>-->
<!--  <br>-->
<!--  <p>{{ checkout.street }}, {{ checkout.house }}/{{ checkout.apartment }}</p>-->
<!--  <hr class="solid">-->
</div>

<!--<ng-template *ngIf="isEdit">-->
<!--  <div class="input-form">-->
<!--    <div class="column">-->
<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="firstName"-->
<!--          type="text"-->
<!--          placeholder="First Name"-->
<!--        />-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="lastName"-->
<!--          type="text"-->
<!--          placeholder="Last Name"-->
<!--        />-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="phoneNumber"-->
<!--          type="text"-->
<!--          placeholder="Phone Number"-->
<!--        />-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="email"-->
<!--          type="text"-->
<!--          placeholder="Enter your email"-->
<!--        />-->
<!--      </mat-form-field>-->
<!--    </div>-->

<!--    <div class="column">-->
<!--      <mat-label><h3 class="personal-info-font-small">DELIVERY ADDRESS</h3></mat-label>-->
<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="city"-->
<!--          type="text"-->
<!--          placeholder="City"-->
<!--        />-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="street"-->
<!--          type="text"-->
<!--          placeholder="Street"-->
<!--        />-->
<!--      </mat-form-field>-->

<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="building"-->
<!--          type="text"-->
<!--          placeholder="Building"-->
<!--        />-->
<!--      </mat-form-field>-->
<!--      <mat-form-field class="emp-form-field" appearance="fill">-->
<!--        <input-->
<!--          matInput-->
<!--          formControlName="appartment"-->
<!--          type="text"-->
<!--          placeholder="Appartment"-->
<!--        />-->
<!--      </mat-form-field>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->

