.profile-label {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

.form-class {
  display: flex;
  justify-content: center;
}

.form-column {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.admin-form-field {
  width: 100%;
}

.logout-div {
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.logout-btn {
  margin-left: 85%;
  width: 10%;
}
