.profile-label {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 3%;
}

.form-class {
  display: flex;
  justify-content: center;
}

.form-column {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  width: 20%;
}

.profile-info-form-field {
  width: 100%;
}

.save-btn {
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 1px;
  margin-top: 3%;
}
