<mat-label class="recover-label"><h1>RECOVER PASSWORD</h1></mat-label>

<form class="form-class" (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
  <span></span>
  <div class="input-form">
    <mat-label><h3>PASSWORD</h3></mat-label>

    <mat-form-field class="recover-form-field" appearance="fill">
      <mat-label>password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <div class="input-form">
    <mat-label><h3>REPEAT PASSWORD</h3></mat-label>

    <mat-form-field class="recover-form-field" appearance="fill">
      <mat-label>repeat password</mat-label>
      <input
        matInput
        formControlName="passwordRepeat"
        [type]="hideRepeat ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="hideRepeat = !hideRepeat"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideRepeat"
      >
        <mat-icon>{{ hideRepeat ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="passwordForm.get('passwordRepeat')?.hasError('required')"
      >
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    class="reset-btn"
    [disabled]="!passwordForm.valid"
    disabled
    type="submit"
    color="accent"
  >
    RESET PASSWORD
  </button>
  <span></span>
</form>
