<div>
  <div class="items">
    <div>
      <p>Items</p>
    </div>
    <div>
      <p>1687.99 UAH</p>
    </div>
  </div>
  <div class="items">
    <div>
      <p>Delivery</p>
    </div>
    <div>
      <p>0 UAH</p>
    </div>
  </div>
  <div class="items">
    <div>
      <p><b>TOTAL</b></p>
    </div>
    <div>
      <p><b>1687.99 UAH</b></p>
    </div>
  </div>
</div>
<!--<div class="main-container1">-->
<!--  <div>-->
<!--    <p class="dl-t2">-->
<!--      Items-->
<!--      <br>-->
<!--      Delivery-->
<!--    </p>-->
<!--    <p class="dl-t3">Total</p>-->
<!--  </div>-->
<!--  <div>-->
<!--    <p class="dl-t2">-->
<!--      25UAH-->
<!--      <br>-->
<!--      0UAH-->
<!--    </p>-->
<!--    <p class="dl-t3">-->
<!--      25UAH-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
