.products-toggle-filter {
  width: 100%;
  background-color: #ffff;
  border: none;
  color: #121212;
  padding: 16px 32px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.06em;
  line-height: 15px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.products-toggle-filter:hover {
  background-color: #f8f8f8;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}
