<mat-label class="login-label"><h1>LOG IN</h1></mat-label>

<form class="form-class" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <span></span>
  <div class="input-form">
    <mat-label><h3>EMAIL</h3></mat-label>

    <mat-form-field class="login-form-field" appearance="fill">
      <mat-label>email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="errorMatcher"
        placeholder="email@example.com"
      />
      <mat-error
        *ngIf="
          loginForm.get('email')?.hasError('email') &&
          !loginForm.get('email')?.hasError('required')
        "
      >
        Please write correct address
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is<strong>required!</strong>
      </mat-error>
    </mat-form-field>

    <mat-label><h3>PASSWORD</h3></mat-label>

    <mat-form-field class="login-form-field" appearance="fill">
      <mat-label>password</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <ngx-recaptcha2
    [siteKey]="siteKey"
    [useGlobalDomain]="false"
    [size]="size"
    [hl]="lang"
    [theme]="theme"
    [type]="type"
    formControlName="recaptcha"
  >
  </ngx-recaptcha2>
  <button
    mat-raised-button
    class="login-btn"
    [disabled]="!loginForm.valid"
    disabled
    type="submit"
    color="accent"
  >
    LOG IN
  </button>
  <span></span>
</form>
<div class="create-acc">
  <mat-label><h3>New Customer?</h3></mat-label>
  <button
    mat-raised-button
    class="login-btn"
    color="accent"
    routerLink="/register"
  >
    CREATE YOUR ACCOUNT
  </button>
</div>
