<mat-label class="edit-label"><h1>Edit employee's info</h1></mat-label>
<form class="form-class">
  <span></span>
  <div class="input-form">
    <div class="column">
      <mat-label><h3>FIRST NAME</h3></mat-label>
      <mat-form-field class = "name" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-label><h3>E-MAIL</h3></mat-label>
      <mat-form-field class = "email" appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-label><h3>ROLE</h3></mat-label>
      <mat-form-field class = "role" appearance="fill">
        <mat-label>Role</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
      <div class="column">
        <mat-label><h3>LAST NAME</h3></mat-label>
        <mat-form-field class = "surname" appearance="fill">
          <mat-label>Surname</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-label><h3>PHONE NUMBER</h3></mat-label>
        <mat-form-field class = "number" appearance="fill">
          <mat-label>8 800 35 35</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-label><h3>STATUS</h3></mat-label>
        <mat-form-field class = "status" appearance="fill">
          <mat-label>Active</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
  </div>
  <div class="save-changes">
    <button mat-raised-button class="save" color="accent"> SAVE CHANGES </button>
  </div>
</form>
