<mat-toolbar color="primary">
  <button mat-flat-button color="primary" (click)="routeToHomepage('women')">
    <h2>Spacey</h2>
  </button>
  <span class="gap"></span>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToProductCatalog('women')"
  >
    Women
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToProductCatalog('men')"
  >
    Men
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToAddProduct()"
    *ngIf="isProductManager"
  >
    Add Product
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToAddAuction()"
    *ngIf="isProductManager"
  >
    Add Auction
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToCourierOrders()"
    *ngIf="isCourier"
  >
    My Orders
  </button>
  <button
    mat-flat-button
    color="primary"
    routerLink="/comparison"
    *ngIf="isUser || isAuthorizedUser"
  >
    Comparison
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToAuctions()"
    *ngIf="isAuthorizedUser || isProductManager"
  >
    Auctions
  </button>
  <span class="gap"></span>
  <button mat-icon-button (click)="routeToProfile()">
    <mat-icon>perm_identity</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="routeToCart()"
    *ngIf="isUser || isAuthorizedUser"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button
    mat-icon-button
    (click)="routeToCustomization()"
    *ngIf="isProductManager"
  >
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
