<mat-toolbar color="primary">
  <button mat-flat-button color="primary" routerLink="/homepage&&&&">
    <h2>Spacey</h2>
  </button>
  <span class="gap"></span>
  <button mat-flat-button color="primary" routerLink="/popular_now_page&&&&&&">
    Popular now
  </button>
  <button mat-flat-button color="primary" routerLink="/women&&&&&&&">
    Women
  </button>
  <button mat-flat-button color="primary" routerLink="/men&&&&&&">Men</button>
  <button mat-flat-button color="primary" routerLink="/accessories&&&&&&">
    Accessories
  </button>
  <button mat-flat-button color="primary" routerLink="/auctions&&&&&&">
    Auctions
  </button>
  <span class="gap"></span>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>perm_identity</mat-icon>
  </button>
  <button mat-icon-button (click)="routeToCheckout()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
