<mat-toolbar color="primary">
  <button mat-flat-button color="primary" (click)="routeToHomepage('women')">
    <h2>Spacey</h2>
  </button>
  <span class="gap"></span>
  <button mat-flat-button color="primary" (click)="routeToPopular()">
    Popular now
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToProductCatalog('women')"
  >
    Women
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="routeToProductCatalog('men')"
  >
    Men
  </button>
  <button mat-flat-button color="primary" (click)="routeToAuctions()">
    Auctions
  </button>
  <button mat-flat-button color="primary" routerLink="/comparison">
    Comparison
  </button>
  <span class="gap"></span>
  <button mat-icon-button>
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button (click)="routeToProfile()">
    <mat-icon>perm_identity</mat-icon>
  </button>
  <button mat-icon-button (click)="routeToCart()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
