<div class="products-catalog">
  <app-header></app-header>

  <app-sorting (selectSortingItem)="onSelectedSorting()"></app-sorting>

  <button class="products-toggle-filter" (click)="onToggleFilters()">
    Filter
  </button>

  <div *ngIf="showFilter">
    <app-filter (selectFilterItem)="onSelectedFilter()"></app-filter>
  </div>

  <div class="cards">
    <ng-container *ngFor="let product of products">
      <app-product [item]="product"></app-product>
    </ng-container>
  </div>

  <app-pagination (selectPage)="onSelectedPage($event)" [items]="products">
  </app-pagination>
</div>
