.summary {
  margin: 85px;
}

.items {
  display: flex;
  justify-content: space-between;
}

.mb-5 {
  font-family: Spartan;
  text-transform: uppercase;
  font-weight: bold;
}

.display-4 {
  padding: 25px 0 25px 0;
  background: #f8f8f8;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button-checkout {
  margin: 42px auto 80px;
  background: #121212;
  border: 2px solid #121212;
  width: 340px;
  height: 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.9;
}
