<link rel="stylesheet" href="../personal-information/personal-information.component.css">
<div>
  <h1 align="center" class="display-4 mb-5">CONFIRM ORDER</h1>
</div>
<div class="summary">
  <app-orders></app-orders>
  <br>
  <app-personal-information></app-personal-information>
  <hr>
  <br>
  <app-delivery></app-delivery>
  <br>
  <br>
  <app-comment></app-comment>
  <br>
  <br>
  <div class="items">
    <div>
      <p>Items</p>
    </div>
    <div>
      <p>1687.99 UAH</p>
    </div>
  </div>
  <div class="items">
    <div>
      <p>Delivery</p>
    </div>
    <div>
      <p>0 UAH</p>
    </div>
  </div>
  <div class="items">
    <div>
      <p><b>TOTAL</b></p>
    </div>
    <div>
      <p><b>1687.99 UAH</b></p>
    </div>
  </div>
</div>
<div class="button-div">
  <button mat-flat-button class="button-checkout" type="submit" routerlink="/">
    CHECK OUT
  </button>
</div>
