.title-container {
  margin-bottom: 20px;
}

.display-4 {
  padding: 25px 0 25px 0;
  background: #f8f8f8;
}

.mb-5 {
  text-transform: uppercase;
  font-weight: bold;
}

.mat-expansion-panel {
  box-shadow: none;
}

.mat-expansion-panel-header {
  font-size: small;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto;
}

.card {
  flex: 0 1 calc(100% / 4 - 15px);
  min-height: 378px;
  min-width: 255px;
  margin: 30px 0 30px 30px;
}

.card-text {
  font-weight: bold;
}
